*{
  padding:0;
  margin:0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:rgba(0,0,0,0.9);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  width:100%;
  height:auto;
  padding:20px 50px;
  box-sizing:border-box;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#5890ff;
}

header h1{
  font-size:2em;
  font-weight:bold;
  color:white;
}

header form{
  width:200px;
  height:auto;
  position:relative;
}

header form input{
  width:100%;
  height:auto;
  border:none;
  border-radius:6px;
  color:rgba(0,0,0,0.9);
  font-size:14px;
  font-weight:bold;
  padding:15px 25px;
  box-sizing:border-box;
  background:rgba(255,255,255,0.3);
}

header form button{
  background:none;
  border:none;
  width:auto;
  height:auto;
  position:absolute;
  font-size:20px;
  right:15px;
  top:50%;
  transform:translateY(-50%);
}

.boutonFiltre{
  width:100%;
  height:auto;
  background:transparent;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding:25px 50px;
  box-sizing:border-box;
}

.boutonFiltre button{
  width:auto;
  height:auto;
  background:#ff58f7;
  border:none;
  border-radius:6px;
  padding:10px 20px;
  box-sizing:border-box;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:bold;
  color:white;
}

section{
  width:100%;
  height:auto;
  padding:25px 50px;
  box-sizing:border-box;
}

.appart{
  width:calc(25% - (150px / 4));
  height:auto;
  float:left;
  margin:0 25px;
  background:rgba(255,255,255,0.9);
  border-radius:15px;
  overflow:hidden;
  transition:all 0.25s ease-out;
  box-shadow:0 1px 10px 0.2px rgba(0,0,0,0.8);
}
.appart:first-child{
  margin:0 25px 0 0;
}
.appart:last-child{
  margin:0 0 0 25px;
}

.appart img{
  height:250px;
  margin:0 0 10px 0;
}

.appart h2,
.appart p{
  padding:0 15px;
  box-sizing:border-box;
}

.appart p:nth-child(3){
  margin:5px 0 0 0;
  text-align:right;
  font-style:italic;
}

.appart p:last-child{
  padding: 0 15px 10px 15px;
  text-align:right;
}

.appart:hover{
  transform:scale(1.03);
  box-shadow:0 20px 30px 0.5px rgba(0,0,0,0.9);
}
